# --- Django Core Settings ---
DEBUG =
SECRET_KEY =
ALLOWED_HOSTS =

# --- Database Settings ---
DATABASE_URL = 

# --- Safaricom Daraja API (Common) ---
MPESA_ENVIRONMENT =
MPESA_CONSUMER_KEY =
MPESA_CONSUMER_SECRET =

# --- M-Pesa C2B / STK Push ---
MPESA_SHORTCODE =
MPESA_PASSKEY =
MPESA_C2B_CALLBACK_URL =

# --- M-Pesa B2C (Payouts) ---
MPESA_B2C_SHORTCODE =
MPESA_INITIATOR_NAME =

# The Security Credential is the encrypted Initiator Password
MPESA_SECURITY_CREDENTIAL =
MPESA_B2C_CALLBACK_URL =

# --- Platform Settings ---
PLATFORM_FEE_PERCENTAGE = 0.10